@using Manager
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    @*<meta http-equiv="refresh" content="300">*@
    <title>@ViewBag.Title</title>
    <!-- Favicon-->
    <link rel="shortcut icon" type="image/png" href="~/Common/FrontendTheme/ico/favicon-16x16.png" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
    <!-- Bootstrap Core Css -->
    <link href="~/Common/BackendTheme/plugins/bootstrap/css/bootstrap.css" rel="stylesheet">
    <!-- Waves Effect Css -->
    <link href="~/Common/BackendTheme/plugins/node-waves/waves.css" rel="stylesheet" />
    <!-- Animation Css -->
    <link href="~/Common/BackendTheme/plugins/animate-css/animate.css" rel="stylesheet" />
    <!-- Morris Chart Css-->
    <link href="~/Common/BackendTheme/plugins/morrisjs/morris.css" rel="stylesheet" />
    <!-- Select Css-->
    <link href="~/Common/BackendTheme/plugins/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" />
    <!-- Custom Css -->
    <link href="~/Common/BackendTheme/css/style.css" rel="stylesheet">
    <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
    <link href="~/Common/BackendTheme/css/themes/all-themes.css" rel="stylesheet" />
    <!-- Bootstrap Material Datetime Picker Css -->
    <link href="~/Common/BackendTheme/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css" rel="stylesheet" />
    <!-- Bootstrap DatePicker Css -->
    <link href="~/Common/BackendTheme/plugins/bootstrap-datepicker/css/bootstrap-datepicker.css" rel="stylesheet" />
    <link href="~/Common/BackendTheme/plugins/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.css" rel="stylesheet">
    <!-- Jquery Core Js -->
    <script src="~/Common/BackendTheme/plugins/jquery/jquery.min.js"></script>
    <script src="~/Common/BackendTheme/plugins/jquery-datatable/jquery.dataTables.js"></script>
    <script src="~/Common/BackendTheme/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
    <script src="~/Common/BackendTheme/js/pages/tables/jquery-datatable.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.blockUI/2.70/jquery.blockUI.min.js"></script>
</head>
<body class="theme-red">
    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="preloader">
                <div class="spinner-layer pl-red">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <p>Please wait...</p>
        </div>
    </div>
    <!-- #END# Page Loader -->
    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    <!-- #END# Overlay For Sidebars -->
    <!-- Search Bar -->
    @Html.Partial("_Search")
    <!-- #END# Search Bar -->
    <!-- Top Bar -->
    @Html.Partial("_Navbar")
    <!-- #Top Bar -->
    @Html.Partial("_Sidebar")
    @RenderBody()

    <!-- Bootstrap Core Js -->
    <script src="~/Common/BackendTheme/plugins/bootstrap/js/bootstrap.js"></script>
    <!-- Select Plugin Js -->
    <script src="~/Common/BackendTheme/plugins/bootstrap-select/js/bootstrap-select.js"></script>
    <!-- Slimscroll Plugin Js -->
    <script src="~/Common/BackendTheme/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
    <!-- Waves Effect Plugin Js -->
    <script src="~/Common/BackendTheme/plugins/node-waves/waves.js"></script>
    <!-- Jquery CountTo Plugin Js -->
    <script src="~/Common/BackendTheme/plugins/jquery-countto/jquery.countTo.js"></script>
    <!-- Morris Plugin Js -->
    <script src="~/Common/BackendTheme/plugins/raphael/raphael.min.js"></script>
    <script src="~/Common/BackendTheme/plugins/morrisjs/morris.js"></script>
    <!-- ChartJs -->
    <script src="~/Common/BackendTheme/plugins/chartjs/Chart.bundle.js"></script>
    <!-- Bootstrap Datepicker Plugin Js -->
    <script src="~/Common/BackendTheme/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <!-- Custom Js -->
    <script src="~/Common/BackendTheme/js/admin.js"></script>
    <script src="~/Common/BackendTheme/js/pages/index.js"></script>
    <!-- Demo Js -->
    <script src="~/Common/BackendTheme/js/demo.js"></script>
    <!-- Input Mask Plugin Js -->
    <script src="~/Common/BackendTheme/plugins/jquery-inputmask/jquery.inputmask.bundle.js"></script>
    <!-- Custom Js -->
    @*<script src="~/Common/BackendTheme/js/pages/forms/advanced-form-elements.js"></script>*@


    <script>
        //Bootstrap datepicker plugin
        $('.bs_datepicker_container input').datepicker({
            autoclose: true,
            container: '.bs_datepicker_container'
        });

    </script>
</body>
</html>
