@using Manager;
@using System.Configuration
@model Entity.User
@{
    string pagetitle = "Forget Password";
    string pageURL = Request.Url.ToString();
    string domainname = @ConfigurationManager.AppSettings["DomainUrl"];
    string pageKeyword = "SibroMart";
    string pagedescription = "SibroMart";
}
@section metataqs{

    <title>@pagetitle  | @domainname</title>
    <meta charset="utf-8">
    <meta name="keywords" content="@pageKeyword" />
    <meta name="description" content="@pagedescription" />
    <link rel="canonical" href="@pageURL" />
    <meta name="author" content="Magentech">
    <meta name="robots" content="index, follow" />
    <meta property="og:title" content="@pagetitle | " />
    <meta property="og:url" content="@pageURL" />
    <meta property="og:image" content="logo url/any image" />
    <meta property="og:description" content="@pagedescription" />
    <meta itemprop="name" content="@pagetitle| @domainname" />
    <meta itemprop="description" content="" />
    <meta itemprop="audience" content="Marketers" />
    <meta itemprop="image" content="imageurl" />
    <meta itemprop="alternativeHeadline" content="@pagetitle | @domainname" />
}
<div class="main-container container">
    <ul class="breadcrumb">
        <li><a href="~/"><i class="fa fa-home"></i></a></li>
        <li><a href="#">Forgot Password</a></li>
    </ul>

    <div class="row">
        <div id="content" class="col-sm-12">
            <div class="page-login">

                <div class="account-border">
                    <div class="row">
                        <div class="col-sm-6 new-customer">
                        <h3>Welcome To Sibro Mart</h3>
                            <p>There is nothing else which you want or wish and not get at your door step.</p>
                        </div>

                        @using (Html.BeginForm("ForgotPassword", "Accounts", FormMethod.Post, new { enctype = "multipart/form-data", id = "Login", name = "Login" }))
                        {
                            <div class="col-sm-6 customer-login">
                                <div class="well">
                                    @if (TempData[TempDataKeys.LoginTemp] != null)
                                    {
                                        <label class="alert alert-danger">@TempData[TempDataKeys.LoginTemp]</label>
                                    }
                                    <h2><i class="fa fa-file-text-o" aria-hidden="true"></i> Forgot Password</h2>
                                    <p><strong>I am a returning customer</strong></p>
                                    <div class="form-group">
                                        <label class="control-label " for="input-email">Email</label>
                                        @Html.TextBoxFor(a => a.Email, new { @type = "email", @class = "form-control", @placeholder = "Phone", @required = "autofocus" })
                                    </div>
                               
                                </div>
                                <div class="bottom-form">

                                    <input type="submit" value="Submit" class="btn btn-default pull-right" />
                                </div>
                            </div>
                        }
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>




@*<!DOCTYPE html>
    <html>
    <head>
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <title>Sign In | Sibro Mart</title>
        <!-- Favicon-->
        <link rel="icon" href="~/Common/BackendTheme/favicon.ico" type="image/x-icon">
        <!-- Google Fonts -->

        <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
        <!-- Bootstrap Core Css -->
        <link href="~/Common/BackendTheme/plugins/bootstrap/css/bootstrap.css" rel="stylesheet">
        <!-- Waves Effect Css -->
        <link href="~/Common/BackendTheme/plugins/node-waves/waves.css" rel="stylesheet" />
        <!-- Animation Css -->
        <link href="~/Common/BackendTheme/plugins/animate-css/animate.css" rel="stylesheet" />
        <!-- Custom Css -->
        <link href="~/Common/BackendTheme/css/style.css" rel="stylesheet">
    </head>
    <body class="login-page">
        <div class="login-box">
            <div class="logo">
                <a href="javascript:void(0);">Sibro<b>Mart</b></a>
                <small>Online Mart</small>
            </div>
            @if (TempData[TempDataKeys.ExceptionTemp] != null)
            {
                <label class="alert alert-danger">@TempData[TempDataKeys.ExceptionTemp]</label>
            }
            <div class="card">
                <div class="body">
    @using (Html.BeginForm("Login", "Accounts", FormMethod.Post, new { enctype = "multipart/form-data" ,id="Login",name="Login" }))
    {
                    <form id="sign_in" method="POST">
                        <div class="msg">Sign in to start your session</div>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">person</i>
                            </span>
                            <div class="form-line">
                                @Html.TextBoxFor(a=>a.Email,new  { @type = "email", @class="form-control", @placeholder="Username" ,@required= "autofocus" })
                            </div>
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">lock</i>
                            </span>
                            <div class="form-line">
                                @Html.TextBoxFor(a => a.Password, new { @type = "password", @class = "form-control", @placeholder = "Username", @required = "autofocus" })
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-xs-4">
                                <button class="btn btn-block bg-pink waves-effect" type="submit">SIGN IN</button>
                            </div>
                        </div>
                        <div class="row m-t-15 m-b--20">
                            <div class="col-xs-6">
                                <a href="~/Accounts/Register">Register Now!</a>
                            </div>
                            <div class="col-xs-6 align-right">
                                <a href="forgot-password.html">Forgot Password?</a>
                            </div>
                        </div>
                    </form>
    }
                </div>
            </div>
        </div>
        <!-- Jquery Core Js -->
        <script src="~/Common/BackendTheme/plugins/jquery/jquery.min.js"></script>
        <!-- Bootstrap Core Js -->
        <script src="~/Common/BackendTheme/plugins/bootstrap/js/bootstrap.js"></script>
        <!-- Waves Effect Plugin Js -->
        <script src="~/Common/BackendTheme/plugins/node-waves/waves.js"></script>
        <!-- Validation Plugin Js -->
        <script src="~/Common/BackendTheme/plugins/jquery-validation/jquery.validate.js"></script>
        <!-- Custom Js -->
        <script src="~/Common/BackendTheme/js/admin.js"></script>
        <script src="~/Common/BackendTheme/js/pages/examples/sign-in.js"></script>
    </body>
    </html>*@
